/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

a {
    outline: none;
}

a:active, a:focus { 
    outline-style: none; -moz-outline-style:none; 
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Ubuntu|Marvel);

@font-face {
    font-family: 'moon_flower';
    src: url('fonts/moon_flower/moon_flower-webfont.eot');
    src: url('fonts/moon_flower/moon_flower-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/moon_flower/moon_flower-webfont.woff2') format('woff2'),
         url('fonts/moon_flower/moon_flower-webfont.woff') format('woff'),
         url('fonts/moon_flower/moon_flower-webfont.ttf') format('truetype'),
         url('fonts/moon_flower/moon_flower-webfont.svg#moon_flower') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'moon_flower_bold';
    src: url('fonts/moon_flower_bold/moon_flower_bold-webfont.eot');
    src: url('fonts/moon_flower_bold/moon_flower_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/moon_flower_bold/moon_flower_bold-webfont.woff2') format('woff2'),
         url('fonts/moon_flower_bold/moon_flower_bold-webfont.woff') format('woff'),
         url('fonts/moon_flower_bold/moon_flower_bold-webfont.ttf') format('truetype'),
         url('fonts/moon_flower_bold/moon_flower_bold-webfont.svg#moon_flower_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font: 17px/26px "chalkboard", sans-serif;
    background-color: #5FB872;
    color: #686764;
    overflow-y: scroll;

}



.wrapper {
    width: 96%;
    margin: 0 2%;
}

/* ===================
     Theme
   =================== */

.header-container,
.sub-menu {
    border-bottom: 2px solid #545454;
}

.footer-container,
.main aside {
    border-top: 2px solid #545454;
}

.header-container,
.footer-container,
.main aside {
    
}

.header-container {
    background-color: #5FB872;
    z-index: 2;
}

.main-container {
    /*background-image: url("../img/tapet.jpg"); */
    background-color: #FEF4D4;
}

.footer-container {
    text-align: center;
    background-color: #5FB872;
}

.title {
    display: block;
    font-family: 'moon_flower_bold';
    font-size: 3rem;
    text-align: center;
    margin: 10px auto;
    padding: 10px 0;
    width: 215px;
    font-family: 'moon_flower_bold';
    color: #545454;
    text-decoration: none;
    text-shadow: 1px 1px #686764;
}

.title:visited {
    color: #545454;
}

.title:hover {
    color: #E1E1E1;
    text-shadow: 1px 1px #686764;
}

.logo {
    font-family: 'moon_flower_bold';
    font-size: 3rem;
    color: #7A7A7A;
    text-align: center;
}



/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    font-family: 'moon_flower_bold';
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    color: #545454;
}

nav a:visited {
    color: #545454;
}

nav a:hover {
    color: #E1E1E1;
}

.sub-menu {
    font-family: helvetica;
    display: none;
    position: absolute;
    margin-left: -999px;
}

.active {
    border-bottom: 2px solid #E1E1E1;
    color: #E1E1E1;
    text-shadow: none;
}
.active:visited {
    color: #E1E1E1;
} 


/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
    /*background-color: #E1AA97;*/
    background-color: #FEF4D4;
}

.main article h1 {
    font-size: 2em;
}

article {
    margin-top: 1.4rem;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.home-tag {
    text-align: center;
 }

.foreword {

}

.home-content {
    margin-top: -50px; 
}

.home-title {
    font-family: 'moon_flower_bold';
    font-size: 70px;
    margin: 80px 0 0 0;
    color: #fff;
    text-shadow: 4px 4px grey;
}

.img-container {
    margin: -120px 0 -40px 0;
    position: relative;
}

.home-tag img {
    width: 100%;
}

.article-listing {
    margin-bottom: 40px;
    padding-bottom: 20px; 
    border-bottom: 1px solid #B6B6B6;
    text-align: center;
}

.article-listing:last-child {
    border-bottom: none;
}

.article-listing img {
    width: 230px;
}

.book-section, .profile-section {
    display: block;
    vertical-align: top;
    width: 280px;
    margin: 0 auto;
}

.book-text {
    text-align: center;
}

.center-quote-text {
    color: #7A7A7A;
    text-align: center;
}

.buy-button {
    display: block;
    background-color: #5FB872;
    padding: 4px 60px;
    border: none;
    margin: 10px 67px;

}

.navigation-overlay {
    display: none;
    text-align: center;
    background-color: rgba(80, 80, 80, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    -webkit-animation: fade-in 0.3s; /* Safari 4+ */
    -moz-animation:    fade-in 0.3s; /* Fx 5+ */
    -o-animation:      fade-in 0.3s; /* Opera 12+ */
    animation:         fade-in 0.3s; /* IE 10+, Fx 29+ */

}

@-webkit-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.navigation-overlay-content {
    position: relative;
    background: url(../img/tapet.jpg);
    width: 80%;
    max-width: 1000px;
    height: 80%;
    margin: 40px auto;
    padding: 10px;
    z-index: 1000;
    border-radius: 5px;
    border: 3px solid #494949;
    box-shadow: 4px 4px 2px #404040; 
}

.overlay-navigation-pics {
    display: inline-block;
    width: 27%;
    padding: 0px;
    margin-bottom: 10px;
}

.overlay-navigation-pics:hover {
    cursor: pointer;
}

.overlay-navigation-pics img {
    width: 90%;
}

#kossan-kristin {
    width: 200px;
    height: 250px;
}

#kossan-kristin:hover {
    cursor: pointer;
}

.navigation-overlay img {
    width: 80%;
}

.press-characters {
    margin: 0 0 -55px 0;
    text-align: right;
}

.press-characters img {
    width: 400px;
}

.info-page section{
    text-align: left;
}

.info-page h2 {
    text-align: center;
}

.about-us-tag p {
    text-align: left;
}

.footer-nav {
    display: none;
}

.contact-section-footer {
    padding: 20px 0;
}

.social-media {
    display: inline-block;
    vertical-align: top;
    margin: 0 1%;
}

.social-media img {
    width: 40px; 
}

.contact-link-footer {
    display: inline-block;
    font-size: 1.5rem;
    color: #545454;
    margin: 0 1%;
    border-left: 1px solid #545454;
    padding: 8px 3%;

}

.contact-link-footer a {
    color: black;
    text-decoration: none;
}

.contact-link-footer a:hover {
    text-decoration: underline;
}

.fixed-footer {
    bottom: 0;
    position: fixed;
    width: 100%;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 481px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */
   .header-container {
    position: fixed;
    width: 100%;
   }

    nav {
        width: 103%;
    }

    nav a {
        float: left;
        width: 16%;
        margin: 0 1%;
        padding: 15px 1%;
        margin-bottom: 10px;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

    .sub-menu {
        display: none;
        position: fixed;
        text-align: center;
        width: 100%;
        background-color: rgba(89, 89, 89, 0.9);
        margin: 0;
        padding: 8px 0 0 0;
        border-top: 1px solid #446C45;
        border-bottom: none;
    }

    .sub-menu ul {
        margin: 0;
    }

    .sub-menu li {
        display: inline-block;
        vertical-align: top;
        margin: 0 1.5%;
    }

    .sub-menu a {
        width: 100%;
        color: white;
        font-size: 0.9rem;
        font-family: "chalkboard";
        text-shadow: none;
        padding: 0 0 2px 0;
        margin-bottom: 0;
    }

    .sub-menu a:visited {
        color: white;
    }

    .sub-menu-fixed {
        position: fixed;
        margin-bottom: 40px;
        background-color: rgba(89, 89, 89, 0.9);
    }

    .main {
        padding: 180px 0 0 0;
    }

    .books-tag {
        margin-top: 10px;
    }

    .sub-menu span {
        color: #FCAA36;
    }

    .books-menu li {
        border-right: 1px solid white;
        margin: 0;
        padding: 0 2% 0 0.7%;
    }

    .books-menu li:last-child {
        border-right: none;
    }

    .min-height-tags {
        min-height: 617px;
    }

    .home-tag {
        padding-bottom: 180px
    }

    .home-title {
        font-size: 104px;
    }

    .img-container {
        margin: -160px 0 -150px 0;
    }

    .book-section, .profile-section {
        display: inline-block;
        vertical-align: top;
        width: 280px;
        margin: 0 auto;
    }

  

    .press-characters {
        margin: 0 0 -193px 0;
    }

    .press-characters img {
        width: 480px;
    }

    .overlay-navigation-pics {
        width: 26%;
    }

    .overlay-books {
        margin: 30px 0;
        width: 32%;
    }

    .footer-nav {
        width: 98%;
        margin: 0 auto;
        display: block;
        color: #545454;
    }

    .footer-nav ul {
        text-align: center;
        padding: 0 20px;
        height: 40px;

    }

    .footer-nav a{
        margin: 0;
        width: 18%;
        font-size: 1.245rem;
        margin-bottom: 34px;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 769px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
     
    }

    .main {
        padding: 130px 0 0 0;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
        padding-bottom: 18px;
    }

    nav {
        display: inline-block;
        float: right;
        width: 62%;
        margin-top: 6px;

    }

    nav ul {
        margin-left: 5%;     
    }

    nav a {
        float: left;
        width: 18%;
        margin: 0 0 0 1%;
        padding: 15px 0%;
        margin-bottom: 0;
    }

    .sub-menu {
        padding: 6px 0;
    }

    .sub-menu a {
        font-size: 1rem;
    }

    .sub-menu li {
        padding: 0 3% 0 2.2%;
    }

    .home-title {
        font-size: 140px;
    }

    .img-container {
        margin: -220px 0 -90px 0;
    }

    .img-container img {
        max-width: 700px;
    }

    .book-section, .profile-section {
        display: inline-block;
        vertical-align: top;
        width: 280px;
        margin: 0 30px;
    }

    .press-characters {
        margin: 0 0 -49px 0; 
    }
   
    .press-characters img {
        width: 800px;
    }

    .overlay-navigation-pics {
        width: 26%;
    }

    .overlay-navigation-pics img {
        width: 50%;
    }

     .overlay-books {
        margin: 30px 0;
        width: 32%;
    }

/* ============
    WIDE: Main
   ============ */
   /* .header-container {
        background-image: url('../img/bok_liggande.png');
        background-size: cover;
        background-position: 0 -190px;
        background-repeat: no-repeat;
    }*/

    .main article {
        float: left;
        width: 100%;
    }
    
    .main aside {
        float: right;
        width: 28%;
        margin-top: 20px;
    }

}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }

    .home-tag {
     padding-bottom: 120px;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}