<div class="about-us-tag min-height-tags">
	
	<div class="navigation-overlay">
		<section class="navigation-overlay-content">
			<div id="profile1" class="overlay-navigation-pics">
				<img src="img/profile_pics/fernando_tusch.png">			
			</div>
			<div id="profile2" class="overlay-navigation-pics">
				<img src="img/profile_pics/helena.png">	
			</div>
			<div id="profile3" class="overlay-navigation-pics">
				<img src="img/profile_pics/kristian.png">
			</div>
			<div id="profile4" class="overlay-navigation-pics">
				<img src="img/profile_pics/tuppen_ture.png">
			</div>
			<div id="profile5" class="overlay-navigation-pics">
				<img src="img/profile_pics/kossan_kristin_portr.png" alt="">
			</div>
			<div id="profile6" class="overlay-navigation-pics">
				<img src="img/profile_pics/giraffen_staffan.png">
			</div>
			<div id="profile7" class="overlay-navigation-pics">
				<img src="img/profile_pics/grisen_greta.png">
			</div>
			<div id="profile8" class="overlay-navigation-pics">
				<img src="img/profile_pics/fisken_fabian.png">
			</div>
			<div id="profile9" class="overlay-navigation-pics">
				<img src="img/profile_pics/pernilla.png">
			</div>			
		</section>
	</div>
	
	<article>
		<section class="profile1 article-listing">
			<div class="profile-section">
				<h2>Fernando</h2>
				<img src="img/profile_pics/fernando_tusch.png">	
			</div>
			<div class="profile-section">
				<p class="profile-text">
					Adopterad från Colombia men uppvuxen på västkusten i den lilla staden Varberg. 
					En mycket trevlig barndom ledde till ett mycket trevligt yrke som dansare som sedan utvecklades till fotograf och som i sin tur ledde till författare. Många olika yrken men vad har de gemensamt? De styrs alla av estetik och är konstformer.<br><br>

					Dansen ger ögat underbara rytmer att se på och inom foto är det konsten att frysa det rätta ögonblicket som ger oss tillfredsställelse. Sen har vi författarskapet som föds ur ord och dess oändliga kombinationer och möjligheter att ge oss passion!<br>
					       
					Då skulle man kunna tro att Fernando även kan sjunga. Låt oss säga att det finns hopp, det övas, det analyseras och de finns ingen tanke på att ge upp. Hoppas grannarna ger sitt samtycke:) 
				</p>
				
			</div>
		</section>	

		<section class="profile2 article-listing">
			<div class="profile-section">
				<h2>Helena</h2>
				<img src="img/profile_pics/helena.png">	
			</div>
				
			<div class="profile-section">
				<p class="profile-text">
					Ture är en riktig Casanova för hans föräldrarna är nämligen riktiga turturduvor och äger bröllopsbutiken Kär & galen. Tures mamma sa alltid till kunderna - kärleken är blind men inte dina gäster, så klä dig snyggt för guds skull och för deras.<br>
					Själv älskar Ture barn så tillsammans med storken Stina hade de öppnat dagiset Lägg ägg.
				</p>
			</div>
		</section>

		<section class="profile3 article-listing">
			<div class="profile-section">
				<h2>Kristian</h2>
				<img src="img/profile_pics/kristian.png">
			</div>
				
			<div class="profile-section">
				<p class="profile-text">
					Ture är en riktig Casanova för hans föräldrarna är nämligen riktiga turturduvor och äger bröllopsbutiken Kär & galen. Tures mamma sa alltid till kunderna - kärleken är blind men inte dina gäster, så klä dig snyggt för guds skull och för deras.<br>
					Själv älskar Ture barn så tillsammans med storken Stina hade de öppnat dagiset Lägg ägg.
				
				</p>
			</div>
		</section>

		<section class="profile4 article-listing">
			<div class="profile-section">
				<h2>Tuppen Ture</h2>
				<img src="img/profile_pics/tuppen_ture.png">
			</div>
			
			<div class="profile-section">
				<p class="profile-text">
					Ture är en riktig Casanova för hans föräldrarna är nämligen riktiga turturduvor och äger bröllopsbutiken Kär & galen. Tures mamma sa alltid till kunderna - kärleken är blind men inte dina gäster, så klä dig snyggt för guds skull och för deras.<br>
					Själv älskar Ture barn så tillsammans med storken Stina hade de öppnat dagiset Lägg ägg.
				</p>
			</div>
		</section>

		<section class="profile5 article-listing">
			<div class="profile-section">
				<h2>Kossan Kristin</h2>
				<img src="img/profile_pics/kossan_kristin_portr.png">
			</div>
			
			<div class="profile-section">
				<p class="profile-text">
					Kristin är laktosintolerant men tolerera nästan allt annat. Vad äter då Kristin? Jo
					som alla vet så har kossor fyra magar så Kristin har en kolossal aptit och gräsligt förtjust i hö, vilket lett till att hon nästan alltid har hösnuva men det smittar inte av sig. 
					Hennes humor kommer däremot smitta av sig, hon pluggar nämligen till komiker.
				</p>
			</div>
		</section>

		<section class="profile6 article-listing">
			<div class="profile-section">
				<h2>Giraffen Staffan</h2>
				<img src="img/profile_pics/giraffen_staffan.png">
			</div>
			
			<div class="profile-section">
				<p class="profile-text">
					Staffan har alltid sett upp till de andra djuren, även fast han alltid ser ner på dem och pratar över allas huvuden. Nu tycker du säkert att det är ett väldigt högtravande beteende men icke sa Nicke som är Staffans bästa vän. Staffan är ju ingen häst och därför travar han inte. Staffan är alltså långt i från högtravande, men hög som ett hus är han minsann.
				</p>
			</div>
		</section>

		<section class="profile7 article-listing">
			<div class="profile-section">
				<h2>Grisen Greta</h2>
				<img src="img/profile_pics/grisen_greta.png">
			</div>
			
			<div class="profile-section">
				<p class="profile-text">
					Greta är ett äkta svin, hon är nämligen i direkt nedstigande led släkt med galten Greve Grotesk som bor i stadens enda svinstia som har husa. Gretas far är också riktigt grisig, han är nämligen ett tryffelsvin och har därför väldigt bra näsa för affärer.  Det var han som öppnade stadens första juvelerare-butik ”Pärlor för svin”.
				</p>
			</div>
		</section>

		<section class="profile8 article-listing">
			<div class="profile-section">
				<h2>Fisken Fabian</h2>
				<img src="img/profile_pics/fisken_fabian.png">
			</div>
			
			<div class="profile-section">
				<p class="profile-text">
					Fabian är firren som ofta tar sig vatten över huvudet, han älskar nämligen äventyr. Om han någon gång är ute på för djupt vatten så simmar han bara in till grunt vatten igen, svårare än så är det ju inte brukar han säga!<br>
					Till saken höra också att Fabian oftast inte kommer ihåg vad som är farligt, han har nämligen väldigt kort närminne.
				</p>
			</div>
		</section>

		<section class="profile9 article-listing">
			<div class="profile-section">
				<h2>Sköldpaddan Pernilla</h2>
				<img src="img/profile_pics/pernilla.png">
			</div>
			
			<div class="profile-section">
				<p class="profile-text">
					Just nu driver Pernilla en ekologisk snabbmats-resturang som inte alls är särskilt logiskt, för hon är så otroligt långsam att maten inte borde klassas som snabbmat. Pernilla är så fruktansvärt seg att allt tar så otroligt lång tid att hon aldrig någonsin blir klar med någonting över huvudet taget, vilket är väldigt stressande för gästerna som känner att hon aldrig får tummen ur och därför aldrig kommer till punkt. Det kan bero på att hennes motto alltid har varit att skynda långsamt.
				</p>
			</div>
		</section>
	</article>
</div>