<div class="about-us-tag min-height-tags">
	
	<div class="navigation-overlay">
		<section class="navigation-overlay-content">
			<div id="profile1" class="overlay-navigation-pics">
				<img src="img/profile_pics/tuppen_ture.png">
			</div>
			<div id="profile2" class="overlay-navigation-pics">
				<img src="img/profile_pics/kossan_kristin_portr.png" alt="">
			</div>
			<div id="profile3" class="overlay-navigation-pics">
				<img src="img/profile_pics/giraffen_staffan.png">
			</div>
			<div id="profile4" class="overlay-navigation-pics">
				<img src="img/profile_pics/grisen_greta.png">
			</div>
			<div id="profile5" class="overlay-navigation-pics">
				<img src="img/profile_pics/fisken_fabian.png">
			</div>
			<div id="profile6" class="overlay-navigation-pics">
				<img src="img/profile_pics/pernilla.png">
			</div>		
			<div id="profile7" class="overlay-navigation-pics">
				<img src="img/profile_pics/fernando_tusch.png">			
			</div>
			<div id="profile8" class="overlay-navigation-pics">
				<img src="img/profile_pics/helena.png">	
			</div>
			<div id="profile9" class="overlay-navigation-pics">
				<img src="img/profile_pics/kristian.png">
			</div>	
		</section>
	</div>
	
	<article>

		<section class="profile1 article-listing">
			<div class="profile-section">
				<h2>Tuppen Ture</h2>
				<img src="img/profile_pics/tuppen_ture.png">
			</div>
			
			<div class="profile-section">
				<p class="profile-text">
					Ture är en riktig Casanova, hans föräldrar är nämligen äkta turturduvor och äger bröllopsbutiken ”Kär & galen”.<br>
					Tures mamma brukar alltid säga till kunderna: - Kärleken är blind men det är inte dina gäster. Klä dig därför snyggt – för guds skull och för deras!
				</p>
			</div>
		</section>

		<section class="profile2 article-listing">
			<div class="profile-section">
				<h2>Kossan Kristin</h2>
				<img src="img/profile_pics/kossan_kristin_portr.png">
			</div>
			
			<div class="profile-section">
				<p class="profile-text">
					Kristin är laktosintolerant men tolererar nästan allt annat. Vad äter då Kristin? Jo, som alla vet har kossor fyra magar. Kristin har därför en kolossal aptit och är gräsligt förtjust i hö.
				</p>
			</div>
		</section>

		<section class="profile3 article-listing">
			<div class="profile-section">
				<h2>Giraffen Staffan</h2>
				<img src="img/profile_pics/giraffen_staffan.png">
			</div>
			
			<div class="profile-section">
				<p class="profile-text">
					Staffan har alltid sett upp till de andra djuren, trots att han alltid ser ner på dem och pratar över huvudet på dem men det är bara för att han är så lång.
				</p>
			</div>
		</section>

		<section class="profile4 article-listing">
			<div class="profile-section">
				<h2>Grisen Greta</h2>
				<img src="img/profile_pics/grisen_greta.png">
			</div>
			
			<div class="profile-section">
				<p class="profile-text">
					Gretas far är ett tryffelsvin och har därför grisigt bra näsa för affärer. Det var han som öppnade stadens första juvelerarbutik ”Pärlor för svin”.
				</p>
			</div>
		</section>

		<section class="profile5 article-listing">
			<div class="profile-section">
				<h2>Fisken Fabian</h2>
				<img src="img/profile_pics/fisken_fabian.png">
			</div>
			
			<div class="profile-section">
				<p class="profile-text">
					Fabian är firren som ofta tar sig vatten över huvudet. Om han är ute på för 
					djupt vatten simmar han bara in till grunt vatten igen:<br>
					– Svårare än så är det ju inte, brukar han säga.
				</p>
			</div>
		</section>

		<section class="profile6 article-listing">
			<div class="profile-section">
				<h2>Sköldpaddan Pernilla</h2>
				<img src="img/profile_pics/pernilla.png">
			</div>
			
			<div class="profile-section">
				<p class="profile-text">
					Just nu driver Pernilla en ekologisk snabbmats-resturang. Det är inte alls särskilt logiskt eftersom hon är så otroligt långsam att maten inte borde klassas som snabbmat. 
					Det kan bero på att hennes motto alltid har varit att skynda långsamt.
				</p>
			</div>
		</section>

		<section class="profile7 article-listing">
			<div class="profile-section">
				<h2>Fernando</h2>
				<img src="img/profile_pics/fernando_tusch.png">	
			</div>
			<div class="profile-section">
				<p class="profile-text">
					Fernando är adopterad från Colombia men uppvuxen på västkusten i den lilla staden Varberg. 
					När han var liten fick han ett gosedjur av sin farmor. Gosedjuret var en sköldpadda som han döpte till Jalle.
					Farmor finns tyvärr inte längre men Jalle har levt vidare och självklart så sover Jalle fortfarande bredvid Fernando, vilket han alltid kommer att göra.
					Innan författaryrket var Fernando dansare och fotograf, vilket är professioner som han fortfarande utövar när tillfälle ges.<br><br>
				</p>
				
			</div>
		</section>	

		<section class="profile8 article-listing">
			<div class="profile-section">
				<h2>Helena</h2>
				<img src="img/profile_pics/helena.png">	
			</div>
				
			<div class="profile-section">
				<p class="profile-text">
					Mina harar och hermeliner låt oss presentera den fantastiska Helena Lindholm, Fyrbenta Poeters visuella skapare. Vars bästa barndomsminne är ...<br>
					Det är Helenas förtjänst att böckerna är så underbart färglada, livfulla och hysteriskt roliga att titta på! 
					Och att utan egentligen ta nått ifrån henne, så är det inte så konstigt att resultatet blev kanonbra.
					Det är nämligen inte första gången hon illustrerar, lyssna på det här: ...(massa jobb)
				</p>
			</div>
		</section>

		<section class="profile9 article-listing">
			<div class="profile-section">
				<h2>Kristian</h2>
				<img src="img/profile_pics/kristian.png">
			</div>
				
			<div class="profile-section">
				<p class="profile-text">
					Kristian är uppvuxen i Örebro och som bästa barndomsminne väljer han helt klart när han och hans lillebror drog dragkamp... uppe på en byggnadsställning. Tur att gräs är mjukt!<br>
					Innan han började jobba som webbdesigner var Kristian artist och uppträde då på scener så som Wermland Opera, Andy Williams Theatre m.m. Han är alltså van vid att prestera när det väl gäller, både tekniskt och estetiskt. Vi är därför helt övertygade om att han är rätt man för det här jobbet.<br>
				</p>
			</div>
		</section>
	</article>
</div>