<div class="book-category min-height-tags">
    <section class="book-category-links">
        <a class="storybooks-nav-link any-page-link" href="#storybooks" title="Sagoböcker">
            <div>
                <img src="img/storybooks.jpg" alt="shopping cart">
            </div>
        </a>
         <a class="textbooks-nav-link any-page-link" href="#textbooks" title="Läroböcker">
            <div>
                <img src="img/textbooks.jpg" alt="shopping cart">
            </div>
        </a>
    </section>  
</div>