<div class="home-tag">
    <div class="home-content">
        <div class="img-container">
            <img src="img/eyes_and_legs.png" alt="">
        </div>
        
    </div>
    <section class="home-text">
        <p>
            Har du någonsin lagt manken<br>
            att själv tänka tanken<br>
            hur ett djur lär sig livet<br> 
            sånt som vi tar för givet.<br>
        </p>
        <p>
            Hur gör alla djur<br>
            när de lär sig sin natur.<br>
            Hur gör en apa när han vet<br>
            att han inte är en get.<br>
            Hur kom en pudel underfund<br>
            med att skämmas som en hund.<br>
            Och varför anses ugglan klok<br> 
            när du aldrig sett en uggla läsa ur en bok.<br>

        </p>
        <p>
            Nu kommer sagorna som lär dig allt det där,<br>
            hur du och kamelonten kan bli lika som bär<br>
            och varför allt som är fyrbent<br>
            nästan alltid är lent.<br>

        </p>
        <p>
            Så nu ska djuren oss undervisa<br>
            i text på rim och vitsig visa<br>
            för här är sagorna som är vad de heter,<br>
            här är sagorna med fyrbenta poeter.<br>
            Så håll i hatten, katten och ratten<br>
            för nu går det undan som hundan.<br>
        </p>
    </section>      
</div>