<div class="center-pages">
	<article class="info-page">
		
		<section class="foreword article-listing">
			<h2>Författaren har ordet</h2>
			<p>Jag har aldrig läst en bok i hela mitt liv och jag har läs och skrivsvårigheter, vilket inte alltid varit så roligt. Konstigt nog har jag alltid älskat att skriva roliga svårigheter!</p>

			<p>Så med min kärlek till ord och bokstäver som på ett ironiskt sätt grundar sig i mina egna svagheter så har jag bestämt mig, jag tänker tillsammans med lite andra sköna typer göra sagoböcker och texter för barn.</p>

			<p>Visst, det är svåra förutsättningar men det går heller inte att förneka att de är unika. Jag väljer därför att tro på att vi har en unik möjligheten att uppnå ett unikt resultat.</p>    

			<p>Så med denna lite annorlunda grund att stå på så har vi nu nöjet att presenterar det knasigaste sagoboks-projektet i världen, nämligen:</p>	
			<p class="logo">Fyrbenta Poeter</p>		
		</section>	

		<section class="idea article-listing">
			<h2>Affärsidé</h2>
			<p>Med svenska språket i fokus skriver Fyrbenta Poeter tok-roliga texter för barn och ungdomar. Syftet är enkelt, det skall vara roligare och knasigare att läsa, förstå och lyssna på det svenska språket. Allt detta snyggt paketerat i ”sagoboks-stil”.</p>			
		</section>

		<section class="vision article-listing">
			<h2>Vision</h2>
			<p>Fyrbenta Poeter kommer alltid sikta på att vara helt otroligt roligt och innehållsrikt, svårare än så blir det inte.</p>			
		</section>

		<section class="the-content article-listing">
			<h2>Ett rimligtvis smart innehåll</h2>
			<p>Barn diggar rim, rim har också en musikalisk och mer rytmisk touch. Därför är det oftast enklare att följa med i en text som rimmar, bla för barn som stammar. Rim är alltså ett ganska smart tillvägagångssätt för att fånga deras uppmärksamhet men varför sluta där.</p> 

			<p>Barn älskar även djur och det svenska språket verkar också älska djur och detta har vi tagit hjälp utav,  vi ska förklara vad vi menar.</p>			
		</section>

		<section class="message article-listing">
			<h2>Budskap & tillvägagångssätt</h2>
			<p>I vårt språk finns riktiga djur så som tuppar och kossor men även blindbockar och solkatter och i dessa sagor får barnen träffa alla dessa djur.  På så sätt får de ett första smakprov på hur svenska språket är uppbyggt med just liknelser, referenser, ordspråk, talesätt och mycket mer.<br> 
			Textens utformning gör också att böckerna utvecklas i takt med barnens utveckling, ju mer de kan, ju mer kommer de förstå. Men oavsett kunskapsnivå så kommer de alltid få nytta av den viktigaste innebörden av sagorna och det är alltid att få fantasin att hoppa av glädje.<br>
			<br>Så med en välbalanserad blandning av fantasi och verklighet så har vi på ett lite annorlunda sätt vridit och vänt på det svenska språket. Nu kan vi se saker från helt nya synvinklar eller t.o.m från flera olika synvinklar samtidigt. En flerdimensionell betydelse i en till synes endimensionell värld gjord av ord, skapad för att boosta unga läsares och lyssnares kreativitet och på så sätt få dem att se nya möjligheter.</p>			
		</section>

		<section class="the-twist article-listing">
			<h2>Det fina i kråksången</h2>
			<p>Vilka är då dessa fyrbenta poeter? Det är ett samlingsnamn på alla djur, vissa finns på riktigt och vissa finns bara i vårt språk.<br>
			Det fina i kråksången är dock att du kan aldrig bli ett riktigt djur så som en häst eller giraff. Däremot kan alla bli ”riktiga låtsasdjur” som en arbetsmyra eller latmask. Så frågan är vad som faktiskt är på riktigt och inte.<br><br>
			Det är förbryllande vackert och väldigt poetiskt och tur är väl det för i denna värld, oavsett om du är en kråka eller muntergök så är rim och poesi de enda form av språk alla djur förstår:</p><br>
			
			<p class="center-quote-text">Djuren är därför exakt vad de heter<br>
			Djuren är därför fyrbenta poeter!</p>

			<p class="center-quote-text">Dessa Fyrbenta Poeter<br>
			Lär barnen massa fyndigheter</p>

			<p class="center-quote-text">Framförallt så lär de alla oss<br>
			att alla kan lyckas här i livet förstås<br>
			oavsett bakgrund och vem du än är<br>
			för innerst inne är vi lika som bär</p>

			<p class="center-quote-text">MYCKET NÖJE!</p><br>

		</section>	
	</article>
</div>