<div class="center-pages">
	<article class="info-page">
		
		<section class="foreword article-listing">
			<h2>Författaren har ordet</h2>
			<p>Jag har aldrig läst en bok i hela mitt liv och jag har läs- och skrivsvårigheter, vilket inte alltid varit så roligt. Konstigt nog har jag alltid älskat att skriva poetiska roligheter.<br>

			Så istället för att ge upp författardrömmarna bestämde jag mig för att hylla det svenska språket på mitt sätt! Jag menar, jag har läs- och skrivsvårigheter, inte hittepå- och fantasisvårigheter.<br>

			Men barnböcker ska ju helst ha bilder också, jag var alltså i stort behov av en illustratör. Tillslut fann jag den underbara tecknaren Helena Lindholm! Snacka om pricken över i personifierad!<br>    

			Vänner och kollegor blev våra inspirationskällor och vips så hade vi skapat det knasigaste sagoboksprojektet i världen, nämligen: <em>Fyrbenta Poeter, ett bokstavligt talat ordagrant äventyr!</em></p>		
		</section>	

		<section class="idea article-listing">
			<h2>Idé</h2>
			<p>Med svenska språket i fokus skapar Fyrbenta Poeter tok-roliga texter och illustrationer för barn i alla åldrar. Syftet är enkelt: det ska vara roligare och knasigare att läsa, lyssna och till och med kanske lära sig något nytt om det svenska språket. Fast på ett annorlunda sätt så klart!</p>	

			<p>Du som lyssnar och lär ska helst vara 4-10 år men det är inte obligatoriskt. Du som läser ska älska rim, det är obligatoriskt!</p>		
		</section>

		<section class="the-content article-listing">
			<h2>Ett rimligtvis roligt tillvägagångssätt</h2>
			<p>Böckerna är skrivna på rim av flera anledningar. Dels för att barn gillar rim, men också för att rim ger en musikalisk och rytmisk touch. Det är oftast enklare att följa med i en text som rimmar, till exempel för barn som stammar. Vi får heller inte glömma att det är hundra gånger roligare att läsa en bok på rim. Rim är alltså nyttigt och roligt för alla, oavsett ålder.</p> 

			<p>Det gör ju inte saken värre att barn även älskar djur och här är djuren utan tvekan huvudrollsinnehavarna!</p>	
		</section>

		<section class="message article-listing">
			<h2>Innehåll & Budskap</h2>
			<p>Innehållet är baserat på Svenska språkets alla olika slags djur och deras äventyr. När vi säger alla slags djur menar vi verkligen alla. Här finns kossor och grisar, men även solkatter och röda hundar.</p>

			<p>Böckerna är en finurlig blandning av fantasi och verklighet som tar oss med på en galen färd bland rim och ordvitsar. Förutom att ge fantasin en fullständig glädjechock är budskapet detta:<br>
			
			Vi vill visa att det kan finnas mer än en betydelse i en till synes endimensionell text. Vi vill på så sätt få både läsare och lyssnare att upptäcka nya möjligheter och inspireras att skapa sin egen väg.</p>	
		</section>

		<section class="the-twist article-listing">
			<h2>Det fina i kråksången</h2>
			<p>Vilka är då dessa fyrbenta poeter? Jo, det är ett samlingsnamn som innefattar alla djur; vissa djur finns på riktigt men vissa finns bara i vårt språkbruk, vi kalla dess djur ”riktiga låtsasdjur”.</p>

			<p>Det fina i kråksången är att du kan aldrig bli ett ”riktigt djur” så som en häst eller giraff. Däremot kan alla bli ”riktiga låtsasdjur” som en arbetsmyra eller latmask. Så frågan är, vad är riktigt och vad är fantasi?</p>

			<p>Just det en sak till: I dessa böcker är alla djur fullkomligt galna i poesi. De kan helt enkelt inte få nog!</p><br>
			<div class="center-quote-text">
				<img src="img/info_pernilla.png" alt="pernilla">
				<p>Djuren är därför exakt vad de heter<br>
				Djuren är därför fyrbenta poeter!</p>

				<p>Dessa Fyrbenta Poeter<br>
				Lär oss en massa fyndigheter</p>

				<p>Framförallt så lär de alla oss<br>
				att alla kan lyckas här i livet förstås<br>
				oavsett bakgrund och vem du än är<br>
				för innerst inne är vi lika som bär</p>

				<p>MYCKET NÖJE!</p>
			</div>
			
			
				
			<br>

		</section>	
	</article>
</div>