<div class="center-pages">
	<article>
		
		<section class="foreword article-listing">
			<h2>Författaren har ordet</h2>
			<p>Jag har aldrig läst en bok i hela mitt liv och jag har läs och skrivsvårigheter, vilket inte alltid varit så roligt. Konstigt nog har jag alltid älskat att skriva roliga svårigheter!</p>

			<p>Så med min kärlek till författarskapet som på ett ironiskt sätt grundar sig i mina egna svagheter så har jag bestämt mig, jag tänker tillsammans med lite andra sköna typer producera sagoböcker och texter för barn.</p>

			<p>Visst, det är svåra förutsättningar men det går heller inte att förneka att de är unika. Jag väljer därför att tro på att vi har en unik möjligheten att uppnå ett unikt resultat.</p>    

			<p>Så med denna lite annorlunda grund att stå på så har vi nu nöjet att presenterar det knasigaste sagoboks-projektet i världen, nämligen:</p>	
			<p class="logo">Fyrbenta Poeter</p>		
		</section>	

		<section class="idea article-listing">
			<h2>Affärsidé</h2>
			<p>Med det svenska språket i fokus producerar Fyrbenta Poeter tokroliga sagoböcker och texter för barn och ungdomar. Syftet är enkelt, det skall vara roligare och knasigare att lära sig läsa, förstå och lyssna på det svenska språket.</p>			
		</section>

		<section class="vision article-listing">
			<h2>Vision</h2>
			<p>Vår ”masterplan” är inte att ta över världen utan vår vision är att vara ett komplement till dagens traditionella läroböcker och sagoböcker. 
			Men vi sticker inte under stolen med att Fyrbenta Poeter kommer alltid vara det roligare alternativet så klart.</p>			
		</section>

		<section class="the-content article-listing">
			<h2>Ett rimligtvis smart innehåll</h2>
			<p>Barn älskar rim så vi bestämde oss för att skriva alla böcker på rim. Rim har också en musikalisk och mer rytmisk touch. Därför är det oftast enklare att följa med i en text som rimmar, bla för barn som stammar.</p> 

			<p>Böckernas innehåll är baserat på djur och deras äventyr, det finns två anledningar till detta. 
			Barn älskar såklart djur men vi har inte bara valt djur för att de är lätta att älska. Det är ett noga genomtänkt val då svenska språket fullkomligen kryllar av referenser, talesätt och liknelser baserat på just djur, vilket vi tagit fasta på.</p>			
		</section>

		<section class="message article-listing">
			<h2>Budskap & tillvägagångssätt</h2>
			<p>I böckerna får barnen läsa om riktiga djur så som tuppen Ture och kossan Kristin men även låtsasdjur så som blindbockar och solkatter!<br> 
			Detta medför att barnen lär sig på en flerdimensionell nivå hur svenska språket är uppbyggt med just liknelser, referenser, ordspråk, talesätt och mycket mer.<br>   
			Genom att basera budskapen på en blandning av fantasi och verklighet så har vi på ett lite annorlunda tillvägagångsätt vridit och vänt på det svenska språket.<br> 
			På så sätt skapas nya innebörder och saker kan ses från helt nya synvinklar. Det blir galet, underhållande och smått hysteriskt.<br> 
			Med detta tillvägagångssätt vill vi boosta unga läsares kreativitet och få dem att se nya möjligheter.</p>			
		</section>

		<section class="the-twist article-listing">
			<h2>Det fina i kråksången</h2>
			<p>Vilka är då dessa fyrbenta poeter? Fyrbenta Poeter är ett samlingsnamn på alla djur. Vissa finns som sagt på riktigt och vissa finns bara i vårt språk. Därför kallar vi dem ”riktiga djur” och ”riktiga låtsasdjur”.<br>
			Det konstiga med allt det här är att de riktiga djuren kommer du aldrig kunna bli. Till exempel kan du aldrig bli en häst eller giraff. Däremot kan alla bli ”riktiga låtsasdjur” så som en muntergök eller latmask. Så frågan är vad som faktiskt är på riktigt och inte.<br> 
			Det är förbryllande vackert och väldigt poetiskt, det är också en anledning till varför dessa sagor är skrivna på rim och poesi. För i denna värld är rim och poesi nämligen den enda form av språk alla djur förstår:</p><br>
			
			<p class="center-quote-text">Djuren är därför exakt vad de heter<br>
			Djuren är därför fyrbenta poeter!</p>

			<p class="center-quote-text">Dessa Fyrbenta Poeter<br>
			Lär barnen massa fyndigheter</p>

			<p class="center-quote-text">Framförallt så lär de alla oss<br>
			att alla kan lyckas här i livet förstås<br>
			oavsett bakgrund och vem du än är<br>
			för innerst inne är vi lika som bär</p>

			<p class="center-quote-text">MYCKET NÖJE!</p><br>

		</section>	
	</article>
</div>