<div class="books-tag">

	<div class="navigation-overlay" style="display: none">
		<section class="navigation-overlay-content">
			<div id="book1" class="overlay-navigation-pics overlay-books">
				<img src="img/book_pics/mask-i-rader.jpg">			
			</div>
			<div id="book2" class="overlay-navigation-pics overlay-books">
				<img src="img/book_pics/roda-hund.jpg">	
			</div>
			<div id="book3" class="overlay-navigation-pics overlay-books">
				<img src="img/book_pics/cirkusapor.jpg">
			</div>
			<div id="book4" class="overlay-navigation-pics overlay-books">
				<img src="img/book_pics/smarim.jpg" alt="">
			</div>
			<div id="book5" class="overlay-navigation-pics overlay-books">
				<img src="img/book_pics/plugghastar.jpg">
			</div>
			
			<div id="book6" class="overlay-navigation-pics overlay-books">
				<img src="img/book_pics/lipsillar.jpg" alt="">
			</div>
			
		</section>
	</div>

	<article>
		<section class="book1 article-listing">
			<div class="book-section">
				<h2>MASK I RADER</h2>
				<img src="img/book_pics/mask-i-rader.jpg" alt="bild på barnbok">	
				<a class="buy-button" href="https://www.vulkanmedia.se/butik" target="_blank">Köp</a>	
			</div>
			<div class="book-section">
				<p class="book-text">
					Snart är det dags<br> 
					att väldigt strax<br>
					höra en saga<br> 
					som dig ska behaga.<br>
					Så kryp nu nära<br>
					era nära och kära<br> 
					och lyssna till lärorika fyndigheter<br> 
					från djuren som kallas fyrbenta poeter.<br>
					Ja, njut av detta äventyr<br>
					som denna gången kosan styr<br>
					mot en imponerande<br>
					och fascinerande<br>   
					årlig maskerad<br> 
					som hålls i denna avlägsna stad.<br><br>

					Och utan att för mycket avslöja<br>
					men ändå på spänningen höja<br>
					så vill vi nämna att det kommer att finnas<br>
					en underlig tävling som ni länge kommer minnas.<br>
				</p>
				
			</div>
		</section>	

		<section class="book2 article-listing">
			<div class="book-section">
				<h2>RÖDA HUND</h2>
				<img src="img/book_pics/roda-hund.jpg" alt="bild på barnbok">	
			</div>
				
			<div class="book-section">
				<p class="book-text">
					Idag hade djuren<br>
					haft oturen<br>
					att faktiskt väldigt sjuka bli<br>
					i hosta, feber, frossa, kli<br>
					Så nu var det inte tid för att bråka<br>
					snabbt till sjukhuset fick de alla åka.<br><br>

					I sjukhusets väntrum som var målat i grönt<br>
					satt några djur som inte mådde så skönt.<br>
					Bland annat en ängslig och ledsen röda hund<br>
					som trots sin sjukdom väntat en stund.<br><br>

					Syster kanin såg skräckslagen ut<br>
					för hon hade hört om symtomen förut.<br>
					Då sa Doktor Dalmatin med ett underbart flin,<br>
					- Vi gör vårt bästa, för att förlänga livet.<br>
					Det kan du alltid ta för givet.<br>
				</p>
			</div>
		</section>

		<section class="book3 article-listing">
			<div class="book-section">
				<h2>CIRKUSAPOR</h2>
				<img src="img/book_pics/cirkusapor.jpg" alt="bild på barnbok">	
			</div>
			
			<div class="book-section">
				<p class="book-text">
					Nu är det dags för konst och trolleri<br>
					för nu ska ni alla underhållna bli.<br>
					Det är nämligen dags att till cirkusen gå<br>
					och på underbar underhållning titta på.<br><br>

					Här är en steppande hummer<br>
					cirkusens härliga huvudnummer.<br>
					Och en dansande svan<br>
					som övat hela dan<br>
					ska rytmiskt svansa<br>
					och högt i skyn för alla dansa.<br>
					Ja på denna cirkus kan vad som helst hända,<br>
					för spänningen är så het att den kan självantända!<br>
				</p>
			</div>
		</section>

		<section class="book4 article-listing">
			<div class="book-section">
				<h2>SMÅRIM & ANNAT STIM</h2>
				<img src="img/book_pics/smarim.jpg" alt="bild på barnbok">	
			</div>
				
			<div class="book-section">
				<p>
					** text till bok kommer **
				</p>
			</div>
		</section>

		<section class="book5 article-listing">
			<div class="book-section">
				<h2>PLUGGHÄSTAR</h2>
				<img src="img/book_pics/plugghastar.jpg" alt="bild på barnbok">	
			</div>
				
			<div class="book-section">
				<p class="book-text">
					Idag är det dags för årets skolstart<br>
					här lär sig djur från dum till smart.<br>
					För tro´t eller ej<br>
					men jag skall säga dej<br>
					att oavsett djur<br>
					i denna natur<br>
					så vill man så klart<br>
					vara väldigt smart.<br><br>

					Ja, nu är det dags att lära dig se<br>
					vad inom dig du har att ge,<br>
					genom att utveckla ett synsätt<br>
					som lätt kommer kunna sätta sprätt<br>
					på alla dina svagheter<br>
					och gör dem till unika fallenheter.<br>
				</p>
			</div>
		</section>

		<section class="book6 article-listing">
			<div class="book-section">
				<h2>LIPSILLAR</h2>
				<img src="img/book_pics/lipsillar.jpg" alt="bild på barnbok">	
			</div>
				
			<div class="book-section">
				<p>
					Innan vi startar<br>
					och allt urartar<br>
					i total panik<br>
					och hysteriska skrik.<br>
					Så föreslår vi<br>
					att oavsett om ni<br>
					är liten eller stor,<br>
					kryper väldigt nära, någon som ni tror<br>
					kan skydda er<br>
					när ni monster ser.<br>
					För nu bär det av<br>
					ut på det allra mörkaste hav.<br>
					Så var beredda<br>
					på att kanske bli livrädda<br>
					för denna saga har hemska myter<br>
					om hajar och monster som ilsket ryter,<br>
					med sylvassa gaddar beväpnade till tänderna<br>
					och hemska klor på alla händerna<br>
				</p>
			</div>
		</section>

	</article>
</div>