<div class="books-tag">

	<div class="navigation-overlay" style="display: none">
		<section class="navigation-overlay-content">
			<div id="book1" class="overlay-navigation-pics overlay-books">
				<img src="img/book_pics/riktiga-latsasdjur.jpg">			
			</div>
			<div id="book2" class="overlay-navigation-pics overlay-books">
				<img src="img/book_pics/riktiga-djur.jpg">	
			</div>
			<div id="book3" class="overlay-navigation-pics overlay-books">
				<img src="img/book_pics/alfabettet.jpg">
			</div>
		</section>
	</div>

	<article>
		<section class="book1 article-listing">
			<div class="book-section">
				<h2>RIKTIGA LÅTSASDJUR</h2>
				<img src="img/book_pics/riktiga-latsasdjur.jpg" alt="bild på barnbok">	
				<a class="buy-button" href="#/">Köp</a>	
			</div>
			<div class="book-section">
				<p class="book-text">
					** Text till book kommer snart **
				</p>
				
			</div>
		</section>	

		<section class="book2 article-listing">
			<div class="book-section">
				<h2>RIKTIGA DJUR</h2>
				<img src="img/book_pics/riktiga-djur.jpg" alt="bild på barnbok">	
				<a class="buy-button" href="#/">Köp</a>
			</div>
				
			<div class="book-section">
				<p class="book-text">
					** Text till book kommer snart **
				</p>
			</div>
		</section>

		<section class="book3 article-listing">
			<div class="book-section">
				<h2>ALFABETTET</h2>
				<img src="img/book_pics/alfabettet.jpg" alt="bild på barnbok">	
				<a class="buy-button" href="#/">Köp</a>
			</div>
				
			<div class="book-section">
				<p class="book-text">
					** Text till book kommer snart **
				</p>
			</div>
		</section>

	</article>
</div>